body {
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
}

#note {
    margin: 10px 0 10px 0;
}

#save, #clear {
    height: 50px;
    border-radius: 15px;
    border: 2px dotted;
    background-color: rgb(193, 243, 243);
    font-weight: 900;
}

#note,
#date {
    border-radius: 15px;
    border: 2px dotted;
    background-color: rgb(193, 243, 243);
    padding: 5px;
}

#date {
    height: 30px;
}

body {
    background-color: rgba(233, 248, 177, 0.496);
}

#save:hover {
    background-color: rgba(247, 247, 27, 0.843);
}

#clear:hover {
    background-color: rgba(248, 74, 74, 0.843);
}

h1 {
    font-family: sans-serif;
    color:rgb(9, 40, 72)
}

/* 
.notes {
    width: 200px;
} */